.form-label {
  color: #ffc137;
}

#logoFORM{
    justify-content: center; 
}

form {
  background-color: #373b68;
  border-radius: 20px;
  box-sizing: border-box;
  width: 50%;
  height: 450px;
  background-color: #373b68;
  margin: auto;
}
input{
    width: 100%;
    padding: 15px;
  }

  #exampleFormControlInput1{
    justify-content: center;
  }

h2 {
  text-align: center;
  font-weight: bold;
}

#logoForm {
  width: 12%;
  justify-content: center;
}

#file{
    color: #ffc137
}
#files {
  color: #ffc137;
}