.form {
  justify-content: center;
  margin: auto;
}

.form-label {
  color: #438d97;
}

#logo {
  width: 25%;
}

#logoHeader {
  height: 80%;
}

.btn {
  padding: 16px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: #438d97;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
