.container{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

img #recipe{
    width: 341px;
    height: 192px;
    justify-content: center;
}

h4{
    text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #438d97 !important;
}

